<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<%= link_to 'New Restaurant', new_restaurant_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Splits?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.streetaddress %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zipcode %></td>
        <% if (restaurant.upvotes > restaurant.downvotes) %>
          <td><%= image_tag("thumbsup.png", size: 16) %></td>
        <% elsif(restaurant.downvotes > restaurant.upvotes) %>
          <td><%= image_tag("thumbsdown.png", size: 16) %></td>
        <% else %>
          <td>¯\_(ツ)_/¯</td>
        <% end %>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


