<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Streetaddress:</strong>
  <%= @restaurant.streetaddress %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @restaurant.zipcode %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @restaurant.upvotes %>
</p>

<p class="splits">
  <% if (@restaurant.upvotes > @restaurant.downvotes) %>
    <%= image_tag("thumbsup.png", size: 64) %>
  <% elsif (@restaurant.downvotes > @restaurant.upvotes) %>
    <%= image_tag("thumbsdown.png", size: 64) %>
  <% else %>
    ¯\_(ツ)_/¯
  <% end %>
</p>

<div class="votes">
  <%= link_to 'Upvote', restaurants_upvote_path(@restaurant) %>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
