<div class="row mx-auto">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p>
      <strong>Name:</strong>
      <%= @restaurant.name %>
    </p>

    <p>
      <strong>Streetaddress:</strong>
      <%= @restaurant.streetaddress %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @restaurant.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @restaurant.state %>
    </p>

    <p>
      <strong>Zipcode:</strong>
      <%= @restaurant.zipcode %>
    </p>

    <p class="splits">
      <% if (@restaurant.upvotes > @restaurant.downvotes) %>
        <%= image_tag("thumbsup.png", size: 64, class: "splitst") %>
      <% elsif (@restaurant.downvotes > @restaurant.upvotes) %>
        <%= image_tag("thumbsdown.png", size: 64, class: "splitsf") %>
      <% else %>
        ¯\_(ツ)_/¯
      <% end %>
    </p>

    <div class="votes">
      <%= link_to 'Upvote', restaurants_upvote_path(@restaurant) %>
      <%= link_to 'Downvote', restaurants_downvote_path(@restaurant) %>
    </div>

    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%= link_to 'Back', restaurants_path %>
  </div>
  <div class="col-md-2"></div>
</div>